.idea/*
*.mov
*.json
*.pyc
*.mp4
*.png
*.jpg
.DS_Store
*.o
*.so
build
!build.gradle
bmf/c_module_sdk/build
bmf/c_module_sdk/cmake-build-debug
bmf/c_module_sdk/.idea
bmf/c_modules/build
bmf/c_modules/cmake-build-debug
bmf/c_modules/.idea
bmf/engine/connector/.idea
bmf/engine/connector/cmake-build-debug
bmf/go_module_sdk/.idea
bmf/go_module_sdk/build
bmf/go_module_sdk/cmake-build-debug


.DS_Store
*/.DS_Store
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
*.xcschememanagement

!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout

Pods
!Podfile
!Podfile.lock
!Manifest.lock
