.idea/*
.venv/
*.mov
*.pyc
*.jpg
.DS_Store
*.o
*.so
*.sym
/build*/
CMakeFiles
_deps
!build.gradle
bmf/c_module_sdk/build
bmf/c_module_sdk/cmake-build-debug
bmf/c_module_sdk/.idea
bmf/c_modules/build
bmf/c_modules/cmake-build-debug
bmf/c_modules/.idea
bmf/engine/connector/.idea
bmf/engine/connector/cmake-build-debug
bmf/go_module_sdk/.idea
bmf/go_module_sdk/build
bmf/go_module_sdk/cmake-build-debug
dist/
output/
3rd_party/breakpad*

.DS_Store
*/.DS_Store
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
*.xcschememanagement

!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
.vscode
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout

Pods
!Podfile
!Podfile.lock
!Manifest.lock

bmf_lite/android/.idea/
bmf_lite/android/.gradle
bmf_lite/android/app/build
bmf_lite/android/.gradle
bmf_lite/android/.idea
bmf_lite/android/lite/.cxx
bmf_lite/android/lite/build
bmf_lite/android/local.properties
bmf_lite/build_android
bmf_lite/demo/ios_demo/bmf_demo/bmf_demo.xcodeproj/xcshareddata/xcschemes/bmf_demo.xcscheme

*.air
bmf_lite/build_ios/
bmf_lite/demo/ios_demo/bmf_demo/bmf_demo.xcodeproj/xcshareddata/
